<section class="lpz-eb">
  <div class="lpz-eb_control">
    <select ng-model="filters.current_state" ng-change="filterEvents()" ng-options="state.value as state.value for state in filters.states">
      <option value="">Estados</option>
    </select>

    <select ng-model="filters.current_theme" ng-change="filterEvents()" ng-options="theme.value as (theme.value | themePrettyPrint) for theme in filters.themes">
      <option value="">Temáticas</option>
    </select>

    <form ng-submit="filterEvents()">
      <input type="search" name="q" ng-model="q" value="">
      <input type="submit" id="submit" value="Buscar" />
    </form>
  </div>
  <ul class="lpz-eb_list">
    <li class="lpz-eb_list--item" ng-repeat="event in events">
      <img ng-src="{{event.listing_image_url | placeholderForTheme:event.theme}}" alt="">
      <div class="lpz-eb_list--item__wrapper">
        <h5 class="lpz-eb_list--item__sub">
          <span class="lpz-eb_list--item__sub__item">{{event.address_locality}}</span>
          <span class="lpz-eb_list--item__sub__item">{{event.start_at}}</span>
        </h5>
        <h5 class="lpz-eb_list--item__title">{{event.title}}</h5>
      </div>
    </li>
  </ul>
</section>
